flows.json
[
    {
        "id": "3b67dba6.bcafd4",
        "type": "tab",
        "label": "medicine reminder",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f2f2649a.0d0d98",
        "type": "debug",
        "z": "3b67dba6.bcafd4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 100,
        "wires": []
    },
    {
        "id": "28dbb025.3cf87",
        "type": "cloudant in",
        "z": "3b67dba6.bcafd4",
        "name": "",
        "cloudant": "",
        "database": "noderedmriot",
        "service": "node-red-mriot--cloudant-1624078337508-54946",
        "search": "_id_",
        "design": "",
        "index": "",
        "x": 310,
        "y": 100,
        "wires": [
            [
                "2399fde7.c39ae2"
            ]
        ]
    },
    {
        "id": "66e78568.c213ec",
        "type": "function",
        "z": "3b67dba6.bcafd4",
        "name": "",
        "func": "msg.payload = {\n    \"date\":\"\",\n    \"name\":\"\",\n    \"time\":\"\",\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 340,
        "wires": [
            [
                "f33daac2.0492a8"
            ]
        ]
    },
    {
        "id": "2399fde7.c39ae2",
        "type": "switch",
        "z": "3b67dba6.bcafd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 160,
        "wires": [
            [],
            [
                "bc31c685.611418"
            ]
        ]
    },
    {
        "id": "31979d44.974f32",
        "type": "ibmiot out",
        "z": "3b67dba6.bcafd4",
        "authentication": "apiKey",
        "apiKey": "83f71303.a15fc",
        "outputType": "cmd",
        "deviceId": "1456789",
        "deviceType": "NodeMCU",
        "eventCommandType": "cmd",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "2f63eca9.fbd8c4",
        "type": "cloudant out",
        "z": "3b67dba6.bcafd4",
        "name": "",
        "cloudant": "",
        "database": "noderedmriot",
        "service": "node-red-mriot--cloudant-1624078337508-54946",
        "payonly": true,
        "operation": "insert",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "2ff7cda4.891982",
        "type": "function",
        "z": "3b67dba6.bcafd4",
        "name": "",
        "func": "var d=msg.payload.date\nvar t=msg.payload.time\nmsg.payload = {\n    \"_id\":d+\" \"+t,\n    \"name\": msg.payload.name,\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 260,
        "wires": [
            [
                "2f63eca9.fbd8c4",
                "66e78568.c213ec",
                "146f888.552ac78"
            ]
        ]
    },
    {
        "id": "bc31c685.611418",
        "type": "function",
        "z": "3b67dba6.bcafd4",
        "name": "",
        "func": "msg.payload={\"command\":msg.payload.name}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 100,
        "wires": [
            [
                "f2f2649a.0d0d98",
                "31979d44.974f32"
            ]
        ]
    },
    {
        "id": "f33daac2.0492a8",
        "type": "delay",
        "z": "3b67dba6.bcafd4",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 480,
        "y": 380,
        "wires": [
            [
                "8821aec2.db22d"
            ]
        ]
    },
    {
        "id": "146f888.552ac78",
        "type": "debug",
        "z": "3b67dba6.bcafd4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "8821aec2.db22d",
        "type": "ui_form",
        "z": "3b67dba6.bcafd4",
        "name": "",
        "label": "",
        "group": "f7bf1838.c9f3f8",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Medicine name",
                "value": "name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Time (HH:MM) 24Hour",
                "value": "time",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Date(YYYY-MM-DD)",
                "value": "date",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "name": "",
            "time": "",
            "date": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": "",
        "x": 630,
        "y": 380,
        "wires": [
            [
                "2ff7cda4.891982",
                "146f888.552ac78"
            ]
        ]
    },
    {
        "id": "a3391be2.2a4f58",
        "type": "function",
        "z": "3b67dba6.bcafd4",
        "name": "",
        "func": "var d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\nvar n=newDate.toISOString()\nvar date = n.slice(0,10)\nvar time = n.slice(11,16)\nglobal.set('time',time)\nmsg.payload=date+\" \"+time\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 160,
        "wires": [
            [
                "28dbb025.3cf87"
            ]
        ]
    },
    {
        "id": "ec1994a0.4208b8",
        "type": "inject",
        "z": "3b67dba6.bcafd4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "a3391be2.2a4f58"
            ]
        ]
    },
    {
        "id": "2e9edc13.d89904",
        "type": "ibmiot in",
        "z": "3b67dba6.bcafd4",
        "authentication": "apiKey",
        "apiKey": "83f71303.a15fc",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "1456789",
        "applicationId": "",
        "deviceType": "NodeMCU",
        "eventType": "+",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allLogicalInterfaces": "",
        "allEvents": true,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 190,
        "y": 520,
        "wires": [
            [
                "35d49897.db5a58",
                "49c0a7f6.451578"
            ]
        ]
    },
    {
        "id": "b71ae984.b25bd8",
        "type": "function",
        "z": "3b67dba6.bcafd4",
        "name": "",
        "func": "msg.payload=\"Emergency! Message from Person\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 460,
        "wires": [
            [
                "6fcfb8e2.f6b348",
                "cf3a0106.7f8aa"
            ]
        ]
    },
    {
        "id": "34903995.a3f9b6",
        "type": "function",
        "z": "3b67dba6.bcafd4",
        "name": "",
        "func": "msg.payload=\"I have took the medicine\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 580,
        "wires": [
            [
                "6fcfb8e2.f6b348",
                "cf3a0106.7f8aa"
            ]
        ]
    },
    {
        "id": "c58575a7.a72b48",
        "type": "switch",
        "z": "3b67dba6.bcafd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 460,
        "wires": [
            [
                "b71ae984.b25bd8"
            ]
        ]
    },
    {
        "id": "899830dd.f2bb",
        "type": "switch",
        "z": "3b67dba6.bcafd4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 580,
        "wires": [
            [
                "34903995.a3f9b6"
            ]
        ]
    },
    {
        "id": "cf3a0106.7f8aa",
        "type": "debug",
        "z": "3b67dba6.bcafd4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 520,
        "wires": []
    },
    {
        "id": "6fcfb8e2.f6b348",
        "type": "http request",
        "z": "3b67dba6.bcafd4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.fast2sms.com/dev/bulkV2?authorization=mOVfRlZFn2U9YhSuE8GrzQWe4g6Pj7dAIXiKqDkMN53LcyCxobecRIihMYa130GjzUowL5JsuqBT87yS&message={{payload}}&language=english&route=q&numbers=6303621154",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 790,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "35d49897.db5a58",
        "type": "function",
        "z": "3b67dba6.bcafd4",
        "name": "",
        "func": "msg.payload=msg.payload.d.b1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 460,
        "wires": [
            [
                "c58575a7.a72b48"
            ]
        ]
    },
    {
        "id": "49c0a7f6.451578",
        "type": "function",
        "z": "3b67dba6.bcafd4",
        "name": "",
        "func": "msg.payload=msg.payload.d.b2\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 580,
        "wires": [
            [
                "899830dd.f2bb"
            ]
        ]
    },
    {
        "id": "83f71303.a15fc",
        "type": "ibmiot",
        "name": "iotdata",
        "keepalive": "60",
        "serverName": "msyvvg.messaging.internetofthings.ibmcloud.com/",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "f7bf1838.c9f3f8",
        "type": "ui_group",
        "name": "Medicine_UI",
        "tab": "74d1e14c.c90e1",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "74d1e14c.c90e1",
        "type": "ui_tab",
        "name": "[Medicine_remainder}",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]